@import "element-plus/dist/index.css";
@import "element-plus/theme-chalk/dark/css-vars.css";

// 卡片
.el-card {
  background-color: var(--el-bg-color);
}

// 分页
.el-pagination {
  // 参考 Bootstrap 的响应式设计 WIDTH = 768
  @media screen and (max-width: 768px) {
    .el-pagination__total,
    .el-pagination__sizes,
    .el-pagination__jump,
    .btn-prev,
    .btn-next {
      display: none !important;
    }
  }
}

.el-drawer__header {
  margin-bottom: 0;
}

.el-card__body {
  box-sizing: content-box;
}

.el-upload-list--picture-card .el-upload-list__item,
.el-upload--picture-card {
  width: 120px;
  height: 120px;
}

.el-collapse-item__header {
  color: var(--el-text-color-primary);
  font-size: 16px;
  font-weight: bold;
}

.el-step__title {
  // text-overflow: ellipsis;
  // overflow: hidden;
  // white-space: nowrap;
  margin-top: 10px;
  font-size: 15px;
  line-height: 24px;
}
